<header class="jumbotron subhead page-not-found-header" id="overview">
    <h1>Page not found</h1>
    <p class="lead">Hmmmm... didn't work out like you'd hoped?</p>
    <p class="lead"><a href="">Take me home</a></p>
</header>

<div id="facewall-web">
    <canvas id="page-not-found-canvas"></canvas>
</div>