<style>
    html, body {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }
</style>

<div class="full-screen-fixed facewall with-scroll"></div>
<div class="facewall-search"></div>
<div class="facewall-styles"></div>