* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.main-title {
    color: #294150;
    font-weight: 100;
    font-size: 47px;
    line-height: 50px;
}

.fork-button {
    float: right;
    font-size: 18px;
    background: #445560;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 7px 23px;
    margin-top: 24px;
}

.fork-button:hover {
    background: rgb(70, 131, 170);
}

.small-label {
    font-size: 30px;
    line-height: 22px;
    position: relative;
    font-weight: 600;
    display: block;
}

.grey-background {
    background: #eee;
}

.stripe {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    background: #445560;
    padding: 25px 20px;
    color: #fff;
    margin-bottom: 0px;
}

.stripe.topper {
    border-bottom: 1px solid rgb(25, 45, 58);
}

.wall {
    width: 100%;
    position: relative;
    background: #445560;
    overflow: hidden;
    cursor: pointer;
}

.wall a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 2;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}

.wall a:hover {
    opacity: 1;
}

.wall a + img {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    opacity: 0.6;
}

.wall a:hover + img {
    opacity: 0.3;
}

.wall a span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: 0px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    z-index: 2;
    line-height: 40px;
}

.wall a span:before {
    color: white;
    content: "\25B6";
    opacity: 1;
    z-index: 100;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: -60px;
    width: 100px;
    margin-left: -50px;
}

.wall h2 {
    left: 50%;
    width: 300px;
    text-align: center;
    margin-left: -150px;
    position: absolute;
    font-weight: 200;
    font-size: 40px;
    background: #445560;
}

.wall img {
    width: 100%;
    max-width: 1920px;
    min-width: 640px;
    display: block;
    margin: 0 auto;
    z-index: 1;
}

.game {
    width: 100%;
    background: rgb(87, 102, 112);
    overflow: hidden;
    border-bottom: 1px solid rgb(51, 73, 88);
    padding-top: 35px;
}

.game h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
}

.game video {
    width: 1080px;
    display: block;
    margin: 50px auto -3px;
    box-shadow: 0 -17px #ccc, 0 -17px 0 1px rgb(51, 73, 88), 0 0 0 1px rgb(51, 73, 88);
    border-radius: 6px 6px 0 0;
    max-width: 80%;
    background: transparent;
}

.footer {
    background: #445560;
    padding: 20px;
}

@media (max-width: 1024px) {
    .wall a span {
        top: 58%;
    }
}

@media (max-width: 480px) {
    .wall a span {
        top: 50%;
        font-size: 24px;
    }

    .wall a span:before {
        font-size: 40px;
        margin-top: -40px;
    }
}

@media (max-width: 320px) {
    .fork-button {
        margin-bottom: 30px;
        float: none;
        display: block;
        text-align: center;
        border: 2px solid #445560;
        background: #fff;
        color: #445560;
        margin-top: 0;
    }

    .fork-button:hover {
        background: #fff;
    }

    .stripe {
        font-size: 19px;
    }
}

/* CTA */

.hs-cta-wrapper {
    display: block;
    text-align: center;
    padding-top: 20px;
}

.hs-cta-wrapper .hs-cta-node {
    visibility: visible !important;
}

.hs-cta-wrapper a {
    font-size: 18px;
    background: #445560;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 7px 23px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.hs-cta-wrapper a:hover {
    background: rgb(70, 131, 170);
}

.hs-cta-wrapper a span {
    opacity: 0.8;
    font-size: 14px;
    margin-top: 3px;
    display: block;
}

/* Wistia Fancybox */

body.wistia-fancybox #fancybox-overlay {
    background: rgb(37, 53, 63);
}

body.wistia-fancybox .fancybox-close {
    box-shadow: none;
}